# folders
results/
figs/
data/
deprecated/
.idea/
/test/test-output/
supplementary-figures/supp-figs/
supplementary-figures/supp-results/
supplementary-figures/supp-data/
supplementary-figures/coarse-grained-model/results/
supplementary-figures/coarse-grained-model/mnist/*.dat
supplementary-figures/coarse-grained-model/mnist/t10k-images-idx3-ubyte
supplementary-figures/coarse-grained-model/mnist/t10k-labels-idx1-ubyte
supplementary-figures/coarse-grained-model/mnist/train-images-idx3-ubyte
supplementary-figures/coarse-grained-model/mnist/train-labels-idx1-ubyte

# simulation executable, but not the .cpp files
sim/sim_*
supplementary-figures/supp-sim/sim_*
!sim/sim_*.cpp
!supplementary-figures/supp-sim/sim_*.cpp
sim/sim_propagation_inverted.cpp
sim/run_propagation_inverted.sh


*.xml
*.ipynb
*.pyc

# DS_Store
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Auryn files
*.log

